{% extends "profiles/base.html" %}
{% load i18n %}

{% block search %}
    {% include "wallpapers/includes/search_bar.html" %}
{% endblock search %}

{% block content %}
    {{ block.super }}
    <h2>
        {% trans "Your uploads" %}
        {% if total == object_list|length %}
            ({{ object_list|length }})
        {% else %}
            (profile filtered: {{ object_list|length }}/{{ total }})
        {% endif %}
    </h2>
    <div id="lineup">
        {% for wallpaper in object_list %}
            {% include "wallpapers/includes/tile.html" with wallpaper=wallpaper only %}
        {% endfor %}
    </div>
{% endblock content %}
