body {
    background-color: #f2f2f2;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 0;
    margin: 0;
}

#wrapper {
    padding: 2em;
}
header {
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 1em;
    background-image: -webkit-radial-gradient(bottom center, 50% 5px, #ccc, #f2f2f2);
    background-image: radial-gradient(50% 5px ellipse at 50% 100%, #ccc, #f2f2f2);
}
header menu {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
    header menu li {
        display: inline;
    }
    header #settings {
        float: right;
    }
        header #settings form {
            padding: 0;
            margin: 0;
        }


body.narrow #content {
    width: 450px;
    margin: auto;
    text-align: justify;
}

#content #lineup {
    text-align: center;
}
#content #lineup .tile-wrapper {
    margin: 0.5em;
}

#sitename,
#logo {
    width: 775px;
    height: 110px;
}
/*body.webkit #sitename {
    margin: auto;
    background: transparent url(../img/logo.png) no-repeat !important;
    background-size: cover !important;
}
body.webkit #logo {
    display: block;
    background-size: cover;
    -webkit-mask-box-image: url(../img/logo-mask.png);
}*/
body/*:not(.webkit)*/ #sitename {
    background-size: cover;
    margin: auto;
}
body/*:not(.webkit)*/ #logo {
    display: block;
    background: transparent url(../img/logo-compiled.png) no-repeat !important;
    background-size: cover !important;
}

#account-control #account {
    background-image: url(../img/account.png);
}
#account-control #logout {
    background-image: url(../img/logout.png);
}
#account-control #upload {
    background-image: url(../img/upload.png);
    width: 17px;
}

menu#tile-options {
    display: none;
}

.hidden {
    display: none;
}
.clear {
    clear: left;
}

h2 {
    font-family: Verdana;
    text-transform: uppercase;
    color: #888;
    font-size: 10pt;
    text-shadow: 0 1px 0 #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

a.button {
    background-image: -webkit-linear-gradient(#dfdfdf, #dfdfdf, #d5d5d5, #ccc);
    background-image: linear-gradient(to bottom, #dfdfdf, #dfdfdf, #d5d5d5, #ccc);
    font-size: 0.8em;
    color: inherit;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #bbb #959595;
    border-radius: 3px;
    padding: 0.1em 0.5em;
    box-shadow: 0 1px 1px #dfdfdf;
    text-shadow: 0 -1px 1px #f0f0f0;

    -webkit-transition: border-bottom 0.2s, color 0.2s, box-shadow 0.2s, text-shadow 0.2s;
    transition: border-bottom 0.2s, color 0.2s, box-shadow 0.2s, text-shadow 0.2s;
/*    -moz-transition: border-bottom 0.2s, color 0.2s, box-shadow 0.2s, text-shadow 0.2s;*/
/*    -o-transition: border-bottom 0.2s, color 0.2s, box-shadow 0.2s, text-shadow 0.2s;*/
}
    a.button:hover {
        box-shadow: 0 1px 2px #1e90ff;
        text-shadow: 0 1px 1px #f5f5f5;
        border-bottom: 1px solid #1e90ff;
    }
    a.button:active {
        background-image: -webkit-linear-gradient(#ccc, #ccc, #d5d5d5, #dfdfdf);
        background-image: linear-gradient(to bottom, #ccc, #ccc, #d5d5d5, #dfdfdf);
        box-shadow: inset 0 1px 2px #999;
    }

a.tooltip {
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
    font-size: 0.8em;
    color: #333;
    text-align: center;
    text-decoration: none;
    margin: 0 0.5em;
}
a.tooltip span {
    opacity: 0;
    position: relative;
    display: block;
    background-image: -webkit-radial-gradient(top center, 50% 5px, #1e90ff, #f2f2f2);
    background-image: radial-gradient(50% 5px ellipse at 50% 0, #1e90ff, #f2f2f2);
    width: 50px;
    text-shadow: 0 1px white;
    margin-top: 14px;
    margin-left: -17px;
    padding-top: 0.2em;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
a.tooltip.active span,
a.tooltip:hover span {
    opacity: 1;
    margin-top: 18px;
}
a.tooltip:hover span {
    z-index: 1;
}
a.tooltip.active span {
    color: #777;
}
body.webkit a.tooltip.active {
    background-image: -webkit-linear-gradient(#ffcb3f, orange) !important;
    background-image: linear-gradient(#ffcb3f, orange) !important;
}

/* Messages */
.message {
    text-indent: 0;
    padding: 0.4em calc(16px + 1em);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0));
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
    box-shadow: 0 1px 1px #aaa;
    text-shadow: 0 1px 0 #dfdfdf;
}
    .message::before {
        position: absolute;
        margin-left: calc(-32px - 0.5em);
        zoom: 0.5;
    }
    body:not(.webkit) .message::before {
        margin-left: calc(-16px - 1em);
        margin-top: -8px;
        transform: scale(0.5);
    }
    body.opera .message {
        padding: 0.4em 1.5em;
    }
    body.opera .message::before {
        margin-left: -1.75em;
    }
.success {
    color: #298c5a;
    background-color: #c8e3d5;
    border-color: #298c5a;
}
    .success::before {
        content: url(../img/success.png);
    }
.info {
    color: #29598c;
    background-color: #c8d5e3;
    border-color: #29598c;
}
    .info::before {
        content: url(../img/info.png);
    }
.warning {
    color: #6b4314;
    background-color: #f1e2d1;
    border-color: #6b4314;
}
    .warning::before {
        content: url(../img/warning.png);
    }
.error {
    color: #6b1414;
    background-color: #f1d1d1;
    border-color: #6b1414;
}
    .error::before {
        content: url(../img/error.png);
    }

/* Page actions */
#actions {
    margin: 0 auto;
    text-align: center;
}
.button-strip-wrapper {
    text-align: center;
}
.buttons-strip {
    display: inline-block;
    background-image: -webkit-linear-gradient(#f8f8f8, #f8f8f8, #f8f8f8, #f0f0f0);
    background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8, #f8f8f8, #f0f0f0);
    height: 26px; /* 28 with borders */
    border: 1px solid #aaa;
    border-radius: 15px;
}
    .buttons-strip > * {
        display: inline-block;
        background: none;
        height: 26px;
        line-height: 26px;
        text-align: center;
        padding: 0 0.5em;
        border: none;
        border-left: 1px solid #ccc;
        border-right: 1px solid #fafafa;
        border-bottom: 1px solid transparent;
        margin: 0;
        transition: border-bottom 0.2s;
        -webkit-transition: border-bottom 0.2s;
    }
    .buttons-strip > *:first-child {
        border-left: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-left: 0.8em;
    }
    .buttons-strip > *:last-child {
        border-right: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-right: 0.8em;
    }
        .buttons-strip > * span {
            display: inline-block;
            vertical-align: top;
            background-color: transparent;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 16px;
            height: 16px;
            margin-top: 5px;
        }

    .buttons-strip > *:hover {
        border-bottom: 1px solid #1e90ff;
    }
    .buttons-strip > *:active {
        box-shadow: inset 0 2px 5px #dfdfdf;
        background-image: -webkit-linear-gradient(#f0f0f0, #f8f8f8, #f8f8f8, #f8f8f8);
        background-image: linear-gradient(to top, #f8f8f8, #f8f8f8, #f8f8f8, #f0f0f0);
    }
    .buttons-strip > *[rel="edit"] span {
        background-image: url(../img/edit.png);
    }
        .buttons-strip > *[rel="edit"].active span {
            -webkit-mask-box-image: url(../img/edit.png);
            -moz-mask-box-image: url(../img/edit.png);
            -o-mask-box-image: url(../img/edit.png);
            mask-box-image: url(../img/edit.png);
        }
    .buttons-strip > *[rel="delete"] span {
        background-image: url(../img/delete.png);
    }
    .buttons-strip > *[rel="download"] span {
        background-image: url(../img/download.png);
    }
        .buttons-strip > *[rel="download"].active span {
            -webkit-mask-box-image: url(../img/download.png);
            -moz-mask-box-image: url(../img/download.png);
            -o-mask-box-image: url(../img/download.png);
            mask-box-image: url(../img/download.png);
        }
    .buttons-strip > *[rel="favorite"] span {
        background-image: url(../img/favorite.png);
    }
        .buttons-strip > *[rel="favorite"].active span {
            -webkit-mask-box-image: url(../img/favorite.png);
            -moz-mask-box-image: url(../img/favorite.png);
            -o-mask-box-image: url(../img/favorite.png);
            mask-box-image: url(../img/favorite.png);
        }
    .buttons-strip > *[rel="confirm"] span {
        background-image: url(../img/confirm.png);
    }
    .buttons-strip > *.active span {
        background-image: -webkit-linear-gradient(#ffcb3f, orange) !important;
        background-image: linear-gradient(#ffcb3f, orange) !important;
    }

/* Wallpaper tiles */
.wallpaper.tile {
    display: inline-block;
}
.wallpaper img {
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    box-shadow: 0 1px 3px #666;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.wallpaper.tile .sleeve {
    position: absolute;
    width: 142px;
    height: 96px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    -webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}
.wallpaper.tile.sketchy .sleeve {
    background-image: url(../img/sketchy-ribbon.png);
    box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.5);
}
.wallpaper.tile.nsfw .sleeve {
    background-image: url(../img/nsfw-ribbon.png);
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
}
.wallpaper.tile.stack {
    position: relative;
    z-index: 1;
}
.wallpaper.tile.stack::before {
    content: url();
    position: relative;
    z-index: -1;
    margin-top: 20px;
    margin-bottom: -180px;
    display: block;
    width: calc(100% - 4px); /* tricks webkit into forgetting about border-width */
    height: 100%;
    border: 1px solid #333;
    box-shadow: 0 1px 3px #666;
}
    body.webkit .wallpaper.tile.stack::before {
        zoom: 0.5;
    }
    body:not(.webkit) .wallpaper.tile.stack::before {
        transform: scale(0.5);
    }

.tile-wrapper {
    display: inline-block;
}
.tile-wrapper .tags {
    position: absolute;
    display: none; /* manipulated by base.js to avoid abrupt "transition" property behavior */
    background-image: -webkit-linear-gradient(#111, #333);
    background-image: linear-gradient(to bottom, #111, #333);
    text-align: left;
    border: 1px solid black;
    border-top-color: #555;
    border-bottom-color: #555;
    border-radius: 0 2px 2px 2px;
    box-shadow: 0 -1px 0 black, 0 1px 0 black, 0 2px 10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.tile-wrapper .show-tags-button {
    position: relative;
    z-index: 1px;
    left: 1px;
    opacity: 0;
    background-image: url(../img/tags-ribbon.png);
    background-size: cover;
    width: 27px;
    height: 27px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    margin-top: -31px;
}
.tile-wrapper .tags.showing {
    opacity: 1;
    z-index: 1; /* display over top of other tile sleeves */
}
.tile-wrapper:hover .sleeve {
    box-shadow: inset 0 0 30px #1e90ff;
}
.tile-wrapper:hover .tile img {
    border-color: white;
    box-shadow: 0 1px 7px #444; /* slightly larger and darker */
}
.tile-wrapper .show-tags-button.showing,
.tile-wrapper:hover .show-tags-button {
    opacity: 1;
}

.tag {
    display: inline-block;
    height: 14px;
    font-size: 0.7em;
    color: #333;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 16px;
    padding: 1px 4px 1px 5px;
    margin: 3px 1px 3px 3px;
}
.tag .hole {
    font-size: 0.8em;
}
    .tag:hover .hole {
        color: white !important;
    }
.tag.clean {
    background: #dee7f8;
    border-color: #a5beea;
}
    .tag.clean .hole {
        color: #6f97dd;
    }
        .tag.clean:hover .hole {
            text-shadow: 0 0 1px #5672a1;
        }
    .tag.clean:hover {
        background: #bbcef1;
        border-color: #6f97dd;
    }
.tag.sketchy {
    background: #f7f7df;
    border-color: #ebeba7;
}
    .tag.sketchy .hole {
        color: #dede6f;
    }
        .tag.sketchy:hover .hole {
            text-shadow: 0 0 1px #a1a155;
        }
    .tag.sketchy:hover {
        background: #f2f2bd;
        border-color: #dede6f;
    }
.tag.nsfw {
    background: #f8dede;
    border-color: #eaa5a5;
}
    .tag.nsfw .hole {
        color: #dd6f6f;
    }
        .tag.nsfw:hover .hole {
            text-shadow: 0 0 1px #a15656;
        }
    .tag.nsfw:hover {
        background: #f1bbbb;
        border-color: #dd6f6f;
    }

.tag.orphaned {
    background-color: transparent !important;
    border-style: dashed;
}

/* Some firefox blemishes */
a img {
    border: none;
}
a:focus {
    outline: 0;
}

footer {
    margin-top: 2em;
}
#tip {
    font-style: italic;
    font-size: 0.8em;
    color: #888;
}
