body {
    background-color: #f2f2f2;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 0;
    margin: 0;
}

#wrapper {
    padding: 2em;
}
header {
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 1em;
    background-image: -webkit-radial-gradient(bottom center, 50% 5px, #ccc, #f2f2f2);
    background-image: -moz-radial-gradient(50% 98.5%, ellipse closest-corner, #ccc, #f2f2f2);
}
header menu {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
    header menu li {
        display: inline;
    }
    header #settings {
        float: right;
    }
        header #settings form {
            padding: 0;
            margin: 0;
        }

#content #lineup {
    text-align: center;
}

#sitename,
#logo {
    width: 775px;
    height: 110px;
}
#sitename {
    background-size: cover;
    margin: auto;
}
#logo {
    display: block;
    background: transparent url(../img/logo.png) no-repeat;
    background-size: cover;
}

menu#tile-options {
    display: none;
}

.hidden {
    display: none;
}
.clear {
    clear: left;
}

a.button {
    background-image: linear-gradient(to bottom, #dfdfdf, #dfdfdf, #d5d5d5, #ccc);
    font-size: 0.8em;
    color: inherit;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #bbb #959595;
    border-radius: 3px;
    padding: 0.1em 0.5em;
    box-shadow: 0 1px 1px #dfdfdf;
    text-shadow: 0 -1px 1px #f0f0f0;

    transition: border-bottom 0.2s, color 0.2s, box-shadow 0.2s, text-shadow 0.2s;
    -webkit-transition: border-bottom 0.2s, color 0.2s, box-shadow 0.2s, text-shadow 0.2s;
    -moz-transition: border-bottom 0.2s, color 0.2s, box-shadow 0.2s, text-shadow 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s, box-shadow 0.2s, text-shadow 0.2s;
}
    a.button:hover {
        box-shadow: 0 1px 2px #1e90ff;
        text-shadow: 0 1px 1px #f5f5f5;
        border-bottom: 1px solid #1e90ff;
    }
    a.button:active {
        background-image: linear-gradient(to bottom, #ccc, #ccc, #d5d5d5, #dfdfdf);
        box-shadow: inset 0 1px 2px #999;
    }

/* Messages */
.message {
    text-indent: 0;
    padding: 0.4em calc(16px + 1em);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
    box-shadow: 0 1px 1px #aaa;
    text-shadow: 0 1px 0 #dfdfdf;
}
    .message::before {
        position: absolute;
        margin-left: calc(-32px - 0.5em);
        zoom: 0.5;
    }
    body:not(.webkit) .message::before {
        margin-left: calc(-16px - 1em);
        margin-top: -8px;
        transform: scale(0.5);
    }
    body.opera .message {
        padding: 0.4em 1.5em;
    }
    body.opera .message::before {
        margin-left: -1.75em;
    }
.success {
    color: #298c5a;
    background-color: #c8e3d5;
    border-color: #298c5a;
}
    .success::before {
        content: url(../img/success.png);
    }
.info {
    color: #29598c;
    background-color: #c8d5e3;
    border-color: #29598c;
}
    .info::before {
        content: url(../img/info.png);
    }
.warning {
    color: #6b4314;
    background-color: #f1e2d1;
    border-color: #6b4314;
}
    .warning::before {
        content: url(../img/warning.png);
    }
.error {
    color: #6b1414;
    background-color: #f1d1d1;
    border-color: #6b1414;
}
    .error::before {
        content: url(../img/error.png);
    }

/* Wallpaper tiles */
.wallpaper.tile {
    display: inline-block;
}
.wallpaper img {
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    box-shadow: 0 1px 3px #666;
}
.wallpaper.tile .sleeve {
    position: absolute;
    width: 142px;
    height: 96px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
.wallpaper.tile.sketchy .sleeve {
    background-image: url(../img/sketchy-ribbon.png);
    box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.5);
}
.wallpaper.tile.nsfw .sleeve {
    background-image: url(../img/nsfw-ribbon.png);
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
}
.wallpaper.tile.stack {
    position: relative;
    z-index: 5;
}
.wallpaper.tile.stack::before {
    content: url();
    position: relative;
    z-index: -1;
    zoom: 0.5;
    margin-top: 20px;
    margin-bottom: -180px;
    display: block;
    width: calc(100% - 4px); /* tricks webkit into forgetting about border-width */
    height: 100%;
    border: 1px solid #333;
    box-shadow: 0 1px 3px #666;
}
    body.mozilla .wallpaper.tile.stack::before {
        transform: scale(0.5);
    }

.tile-wrapper {
    display: inline-block;
}
.tile-wrapper .tags {
    display: none !important;
}

.tag {
    display: inline-block;
    height: 14px;
    font-size: 0.7em;
    color: #333;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 16px;
    padding: 1px 4px 1px 5px;
    margin: 3px 1px 3px 3px;
}
.tag .hole {
    font-size: 0.8em;
}
    .tag:hover .hole {
        color: white !important;
    }
.tag.clean {
    background: #dee7f8;
    border-color: #a5beea;
}
    .tag.clean .hole {
        color: #6f97dd;
    }
        .tag.clean:hover .hole {
            text-shadow: 0 0 1px #5672a1;
        }
    .tag.clean:hover {
        background: #bbcef1;
        border-color: #6f97dd;
    }
.tag.sketchy {
    background: #f7f7df;
    border-color: #ebeba7;
}
    .tag.sketchy .hole {
        color: #dede6f;
    }
        .tag.sketchy:hover .hole {
            text-shadow: 0 0 1px #a1a155;
        }
    .tag.sketchy:hover {
        background: #f2f2bd;
        border-color: #dede6f;
    }
.tag.nsfw {
    background: #f8dede;
    border-color: #eaa5a5;
}
    .tag.nsfw .hole {
        color: #dd6f6f;
    }
        .tag.nsfw:hover .hole {
            text-shadow: 0 0 1px #a15656;
        }
    .tag.nsfw:hover {
        background: #f1bbbb;
        border-color: #dd6f6f;
    }

.tag.orphaned {
    background-color: transparent !important;
    border-style: dashed;
}

/* Some firefox blemishes */
a img {
    border: none;
}
a:focus {
    outline: 0;
}

footer {
    margin-top: 2em;
}
#tip {
    font-style: italic;
    font-size: 0.8em;
    color: #888;
}
