{% extends "base_error.html" %}
{% load i18n %}

{% block title %}{% trans "Permission denied" %}{% endblock title %}
{% block error_title %}{% trans "Permission denied" %}{% endblock error_title %}
{% block error_content %}
    <p>
        {% blocktrans %}
        Weeeeellll, there's good news and bad news. The good news is that you're a smart cookie,
        changing urls around and stuff. The bad news is that you're actually not allowed to do
        that. Glad we had this chat, though. The worst thing we could do to you is dish out some
        old fashioned silent treatment.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        We'll try to convince our logs to let it slide though. They tend to be stubborn old things
        that won't forget until months and months go by.
        {% endblocktrans %}
    </p>
{% endblock error_content %}
