{% extends "base_error.html" %}
{% load i18n %}

{% block title %}{% trans "Server error" %}{% endblock title %}
{% block error_title %}{% trans "Server error" %}{% endblock error_title %}
{% block error_content %}
    <p>
        {% blocktrans %}
        Um, sorry about this. We ran into a problem on our end. The logs have diligently recorded
        some aspects of the circumstances, and a very fancy electronic mail has been written and
        posted to the establishment.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        For 25&cent;, we can let the delivery boy know that the fancy electronic letter should be
        delivered with a sung message of your choosing.
        {% endblocktrans %}
    </p>
{% endblock error_content %}
