{% load core_tags i18n %}
{% if not request.is_ajax %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Home{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/search.css" />
    {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/viewing.css" type="text/css" />
    {% endblock css %}
    {% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-ui-1.10.1.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/contextmenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/switcher.js"></script>
    <script type="text/javascript">
        $(function(){
            if (/webkit/i.test(window.navigator.userAgent)) {
                $('body').addClass('webkit');
            } else {
                if (/opera/i.test(window.navigator.userAgent)) {
                    $('body').addClass('opera');
                } else if (/mozilla/i.test(window.navigator.userAgent)) {
                    $('body').addClass('mozilla');
                }
            }
        });
    </script>
    {% endblock javascript %}
    {% block extra_head %}
        {% combine_forms_media form search_form %}
    {% endblock extra_head %}
</head>
<body class="{% block body_classes %}{% endblock body_classes %}">
    <div id="wrapper">
        <header>
            <menu type="toolbar">
                {% block toolbar %}
                <li><a href="{% url 'tags:list' %}">{% trans "All tags" noop %}</a></li>
                {% endblock toolbar %}
            </menu>

            <div id="settings">
                {% if user.is_authenticated %}
                    <form id="account-control" action="{% url 'profile:switch' %}?next={{ request.path }}?{{ request.GET.urlencode }}" method="post">
                        {% csrf_token %}
                        {{ profile_switch_form.profile.label_tag }}
                        {{ profile_switch_form.profile }}
                        <a id="account" class="tooltip" href="{% url 'profile:view' %}">
                            <span>{% trans "Account" %}</span>
                        </a>
                        {% if perms.wallpapers.add_wallpaper %}
                            <a id="upload" class="tooltip" href="{% url 'wallpapers:upload' %}">
                                <span>{% trans "Upload" %}</span>
                            </a>
                        {% endif %}
                        <a id="logout" class="tooltip" href="{% url 'auth:logout' %}">
                            <span>{% trans "Logout" %}</span>
                        </a>
                    </form>
                {% else %}
                    <div id="account-control">
                        <a href="{% url 'auth:login' %}?next={{ request.path }}">{% trans "Log in" %}</a>
                    </div>
                {% endif %}
            </div>
            <div id="sitename" style="background-image: url({{ logo_wallpaper.image.url }})">
                <a id="logo" href="{% url 'home' %}" style="{# background-image: url({{ logo_wallpaper.image.url }}) #}"></a>
            </div>
        </header>
        <menu id="tile-options" type="context">
            {% block wallpaper_tile_menuitems %}
            <menuitem class="zoom" label="{% trans "Zoom" noop %} " data-url=""></menuitem>
            <menuitem class="download" label="{% trans "Download" noop %}" data-url=""></menuitem>
            <menu id="contextmenu-tags" label="{% trans "Tags" noop %}"></menu>
            {% endblock %}
        </menu>
        <div id="content">
            {% block messages %}
                {% for message in messages %}
                    <p class="message {{ message.tags }}">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endblock messages %}

            <div id="pjax-wrapper">
                {% block search %}{% endblock search %}
                <div id="wrapped-content"> {# Designed to be loaded over ajax #}
{% endif %}
                    {% block content %}{% endblock content %}
{% if not request.is_ajax %}
                </div>
                <div id="stage" class="wallpaper"> {# Designed to contain transitioning content #}
                    {% block stage %}{% endblock stage %}
                </div>
            </div>
        </div>
        <footer>
            <div id="tip">{{ random_tip }}</div>
        </footer>
    </div>
</body>
</html>
{% endif %}
