<!doctype html>
<html>
<head>
    <title>{% block title %}Home{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    {% block css %}{% endblock css %}
    {% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.0.min.js"></script>
    {% endblock javascript %}
    {% block extra_head %}{{ form.media }}{% endblock extra_head %}
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'wallpapers:upload' %}">Upload</a>
    <div id="wrapper">
        <div id="content">
            <div id="viewing-area"></div>
            <div id="info-area"></div>
            <div id="lineup">
                {% for wallpaper in wallpapers.recent %}
                {% spaceless %}
                    <a href="{{ wallpaper.get_absolute_url }}">
                        <img src="{{ wallpaper.image.url }}" width="200px" />
                    </a>
                {% endspaceless %}
                {% endfor %}
            </div>
            <div id="tags">
                <h4>Most used tags</h4>
                <div>
                    {% for tag in tags.most_used %}
                        <a href="{#% url 'wallpapers:list' tag=tag.name %#}">{{ tag }}</a>
                    {% endfor %}
                </div>
                <h4>Recently used tags</h4>
                <div>
                    {% for tag in tags.recent %}
                        <a href="{#% url 'wallpapers:list' tag=tag.name %#}">{{ tag }}</a>
                    {% endfor %}
                </div>
                <h4>Newly created tags</h4>
                <div>
                    {% for tag in tags.new %}
                        <a href="{#% url 'wallpapers:list' tag=tag.name %#}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>