<!doctype html>
<html>
<head>
    <title>{% block title %}Home{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    {% block css %}{% endblock css %}
    {% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.0.min.js"></script>
    {% endblock javascript %}
    {% block extra_head %}{{ form.media }}{% endblock extra_head %}
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'wallpapers:upload' %}">Upload</a>
    <a href="{% url 'tags:list' %}">All tags</a>
    
    {% if not user.is_authenticated %}
        <a href="{% url 'auth:login' %}?next={{ request.path }}">Log in</a>
    {% else %}
        <a href="{% url 'auth:logout' %}">Log out</a>
    {% endif %}

    <div id="wrapper">
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>