{% extends "base.html" %}

{% block content %}
    <div id="viewing-area"></div>
    <div id="info-area"></div>
    <div id="lineup">
        {% for wallpaper in wallpapers.recent %}
            {% include "wallpapers/includes/tile.html" with wallpaper=wallpaper only %}
        {% endfor %}
    </div>
    <div id="tags">
        <h4>Most used tags</h4>
        <div>
            {% for tag in tags.most_used %}
                <a href="{#% url 'wallpapers:list' tag=tag.name %#}">{{ tag }}</a>
            {% endfor %}
        </div>
        <h4>Recently used tags</h4>
        <div>
            {% for tag in tags.recent %}
                <a href="{#% url 'wallpapers:list' tag=tag.name %#}">{{ tag }}</a>
            {% endfor %}
        </div>
        <h4>Newly created tags</h4>
        <div>
            {% for tag in tags.new %}
                <a href="{#% url 'wallpapers:list' tag=tag.name %#}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
