Django==1.7.1
Fabric==1.10.0
Pillow==2.6.1
PyMySQL==0.6.2
django-debug-toolbar==1.2.2
django-extensions==1.4.8
django-taggit==0.12.2
ecdsa==0.11
paramiko==1.15.1
pycrypto==2.6.1
six==1.8.0
sqlparse==0.1.13
