{% extends "wallpapers/base.html" %}

{% block title %}{% spaceless %}
    {% if view.orphaned %}
        Orphaned tags
    {% else %}
        All tags
    {% endif %}
{% endspaceless %}{% endblock title %}

{% block toolbar %}
    {{ block.super }}
    <li><a href="{% url 'tags:orphaned' %}">View orphaned tags</a></li>
{% endblock toolbar %}

{% block content %}
    {{ block.super }}

    <h2>{% if view.orphaned %}Orphaned {% endif %}Tags</h2>

    <ul>
        {% regroup object_list by get_purity_rating_display as tag_groups %}
        {% for tags in tag_groups %}
            <li>
                Purity: {{ tags.grouper }}
                <ul>
                    {% for tag in tags.list %}
                    <li>
                        {% include "wallpapers/includes/single_tag_link.html" with tag=tag only %}
                        <a class="button" href="{% url 'tags:edit' tag.slug %}">Edit</a>
                        <a class="button" href="{% url 'tags:delete' tag.slug %}">Delete</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
