{% extends "wallpapers/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Delete '{{ object }}'?{% endblocktrans %}{% endblock title %}

{% block content %}
    <form action="{% url 'wallpapers:delete' object.pk %}" method="post">
        {% csrf_token %}
        <img src="{{ object.image.url }}" width="200px" style="float: left; margin: 0 1em 1em 0;" />
        {% if not object.duplicate_of %}
            <p class="message warning" style="margin-left: 215px">{% trans "WARNING: This image is not marked as being a duplicate." %}</p>
        {% endif %}
        {% if object.name %}
            <h2>{{ object.name }}</h2>
        {% endif %}

        <p>
            {% include "wallpapers/includes/tags_as_links.html" with tags=object.tags.all only %}
        </p>
        <p>{% trans "Delete this wallpaper?" noop %}</p>
        <p>
            <input type="submit" value="Delete" />
        </p>
    </form>
{% endblock content %}
