{% extends "wallpapers/base_searchable.html" %}
{% load i18n %}

{% block title %}{% trans "Wallpaper" %}: {{ object }}{% endblock title %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/calculate-gcd-javascript.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/resize.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/viewing.js"></script>
{% endblock javascript %}

{% block stage %}
    <img src="{{ object.image.url }}" />
{% endblock stage %}

{% block content %}
    <aside id="details">
        {% if perms.wallpaper.change_wallpaper and object.tags.all|length == 1 %}
            <p class="message warning">{% trans "This wallpaper has only one tag." %}</p>
        {% endif %}

        {% spaceless %}
        <div id="actions">
            <div class="buttons-strip">
                {% if user.is_staff or perms.wallpapers.change_wallpaper and object.uploader == user %}
                    <a rel="edit" href="{% url 'wallpapers:edit' object.pk %}" title="{% trans "Edit" %}"><span /></a>
                {% endif %}
                {% if user.is_staff or perms.wallpapers.delete_wallpaper %}
                    <a rel="delete" href="{% url 'wallpapers:delete' object.pk %}" title="{% trans "Delete" %}"><span /></a>
                {% endif %}
                <a rel="download" href="{% url "wallpapers:download" object.pk %}" title="{% trans "Download" %}"><span /></a>
                <a rel="favorite"
                        {% if object.is_favorite %}
                        title="{% trans "Remove from favorites" %}" class="active"
                        href="{% url "profile:favorites:remove" object.pk %}"
                        {% else %}
                        title="{% trans "Add to favorites" %}"
                        href="{% url "profile:favorites:add" object.pk %}"
                        {% endif %}><span /></a>
            </div>
        </div>
        {% endspaceless %}

        <p class="name{% if not object.name %} hidden{% endif %}">
            <label title="{% trans "Name" %}"></label>
            <span>{{ object.name }}</span>
        </p>
        <p class="tags">
            <label title="{% trans "Tags" %}"></label>
            <span>{% include "wallpapers/includes/tags_as_links.html" with tags=object.tags.all only %}</span>
        </p>
        <p class="purity {{ wallpaper.get_purity_rating_display|slugify }}">
            <label title="{% trans "Purity" %}"></label>
            <span>{{ wallpaper.get_purity_rating_display }}</span>
        </p>
        <p class="size">
            <label title="{% trans "Dimensions" %}"></label>
            <span>{{ object.width }} &times; {{ object.height }}</span>
            (<span class="showing"></span>% {% trans "actual size" %})
        </p>
        <p class="aspect-ratio">
            <label title="{% trans "Aspect ratio" %}"></label>
            <span>{{ object.aspect_ratio }}</span>
        </p>
        <p class="uploader">
            <label title="{% trans "Uploader" %}"></label>
            <span>{{ object.uploader }}</span>
        </p>
        <p class="author">
            <label title="{% trans "Author" %}"></label>
            {% if object.author %}
                <span>{{ object.author }}</span>
            {% else %}
                <span>{% trans "Unknown" %}</span>
                <a href="{% url 'wallpapers:reports:create' pk=object.pk field_name='author' %}">Tip us off if you know!</a>
            {% endif %}
        </p>

        <div id="similar">
            <h4>{% trans "Similar by:" %}</h4>
            <div class="related tags">
                <h5>{% trans "tags" %}</h5>
                {% include "wallpapers/includes/tile.html" with wallpaper=similar.tags.0 stack=similar.tags.1 only %}
            </div>
            <div class="related color">
                <h5>{% trans "color" %}</h5>
                {% include "wallpapers/includes/tile.html" with wallpaper=similar.color.0 stack=similar.color.1 only %}
            </div>
            <div class="related size">
                <h5>{% trans "size" %}</h5>
                {% include "wallpapers/includes/tile.html" with wallpaper=similar.size.0 stack=similar.size.1 only %}
            </div>
            <div class="clear">&nbsp;</div>
        </div>

    </aside>
{% endblock content %}
