{% extends "wallpapers/base.html" %}

{% block title %}Wallpapers{% if tags %} by tag{{ tags|pluralize }}: {{ tags|join:', ' }}{% endif %}{% endblock title %}

{% block search %}
    {% include "wallpapers/includes/search_bar.html" %}
{% endblock search %}

{% block content %}
    {{ block.super }}
    
    <h2>Wallpapers</h2>
    
    {% if in_danger and object_list %}
        <p class="message warning">
            The wallpaper{{ object_list|pluralize }} shown here {{ object_list|pluralize:"is,are" }}
            in danger of becoming orphaned and should receive additional tags.
        </p>
    {% elif in_danger and not object_list %}
        <p class="message info">
            No wallpapers are in danger of becoming orphaned!
        </p>
    {% endif %}
    
    <div id="lineup">
        {% for wallpaper in object_list %}
            {% include "wallpapers/includes/tile.html" with wallpaper=wallpaper only %}
        {% endfor %}
    </div>
{% endblock content %}
