{% extends "wallpapers/base.html" %}

{% block title %}{% if form.instance.id %}Edit{% else %}Upload{% endif %}{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/form.css" type="text/css" />
{% endblock css %}

{% block content %}
    {{ block.super }}
    <form action="{% url 'wallpapers:upload' %}" method="post" enctype="form/multipart">
        {% csrf_token %}
        <p>
            <input type="submit" value="Upload" />
        </p>
        {{ form.as_p }}
    </form>
{% endblock content %}
