form label {
    display: inline-block;
    width: 5em;
    font-weight: bold;
}
form .helptext {
    display: inline-block;
    margin-left: 1em;
    font-style: italic;
    font-size: 0.8em;
    color: gray;
}

form input[type="text"],
form .tagsinput {
    min-width: 6em;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ccc #aaa;
}
form input[type="text"] {
    font-size: 0.7em;
    padding: 0.5em;
}

form ul.errorlist {
    list-style: none;
    font-style: italic;
    background-color: #ffdddd;
    color: #ff5555;
    text-indent: 1.5em;
    padding: 0;
    border: 1px solid rgba(255, 100, 100, 0.5);
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    margin: 0;
}
ul.errorlist + p {
    background-color: #ffdddd;
    padding: 0.5em 0;
    border: 1px solid rgba(255, 100, 100, 0.5);
    border-radius: 0 0 3px 3px;
    border-top: none;
    margin-top: 0;
}

ul.errorlist + ul.errorlist {
    border-top: none;
    border-radius: 0;
}
