#details {
    float: right;
    width: 34%;
}

#stage {
    width: 65%;
}
    #stage img {
        border: none;
        box-shadow: 0 5px 10px #bbb;
    }

#details label {
    display: inline-block;
    vertical-align: bottom;
    background-size: contain;
    width: 16px;
    height: 16px;
}
    #details .tags label {
        background-image: url(../img/tag.png);
    }
    #details .name label {
        background-image: url(../img/name.png);
    }
    #details .size label {
        background-image: url(../img/size.png);
    }
    #details .purity.clean label {
        background-image: url(../img/clean.png);
    }
    #details .purity.sketchy label {
        background-image: url(../img/sketchy.png);
    }
    #details .purity.nsfw label {
        background-image: url(../img/nsfw.png);
    }
    #details .aspect-ratio label {
        background-image: url(../img/aspect-ratio.png);
    }
    #details .uploader label {
        background-image: url(../img/uploader.png);
    }
    #details .author label {
        background-image: url(../img/author.png);
    }

#similar {
    /* Can't code "transparent" into this, or else the gradient gets weird and dark. */
    background-image: radial-gradient(50% 1.5%, ellipse closest-corner, #ccc, #f2f2f2);
    background-image: -webkit-radial-gradient(top center, 50% 5px, #ccc, #f2f2f2);
    padding-top: 1em;
    margin-top: 11em;
}
    #similar h4 {
        font-weight: normal;
    }
        #similar .related {
            float: left;
            width: 30%;
            margin-right: 2%;
        }
            #similar h5 {
                font-weight: normal;
                text-align: center;
                margin: 0;
            }
