#user-data {
    margin-right: 520px;
}

#profiles {
    float: right;
    width: 500px;
}
    #profiles h2 {
        margin-top: 0;
    }

fieldset {
    border-width: 2px;
    border-style: solid;
    margin-bottom: 1em;
    box-shadow: 0 3px 10px #ccc;
}

fieldset legend {
    background: #f0f0f0;
    padding: 0.2em 0.8em;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 1px 3px #555;
}
    fieldset.active legend {
        border-color: #298c5a;
    }

fieldset.active legend label {
    font-weight: bold;
}
fieldset p label {
    width: 6em !important;
}
fieldset p[rel="ratio"] input,
fieldset p[rel="dimensions"] input {
    width: 5em;
}

fieldset.clean.at-most,
fieldset.clean.only {
    background-color: #c8e3d5;
    border-color: #298c5a;
}
fieldset.sketchy {
    background-color: #f1e2d1;
    border-color: #6b4314;
}
fieldset.clean.at-least,
fieldset.sketchy.at-least,
fieldset.nsfw {
    background-color: #f1d1d1;
    border-color: #6b1414;
}

div.DELETE {
    float: right;
}
