{% load thumbnail %}

{# Snippet for use with {% include %} #}

{# Parameters: stack (wallpaper object or None) #}

{% thumbnail wallpaper.image "280x188" crop="center" as image %}
    {% spaceless %}
    <div class="tile-wrapper">
        <a href="{{ wallpaper.get_absolute_url }}"
                class="wallpaper tile {{ wallpaper.get_purity_rating_display|slugify }}{% if stack %} stack{% endif %}"
                data-id="wallpaper_{{ wallpaper.pk }}"
                data-download-url="{{ wallpaper.get_download_url }}"
                data-full-search-url="{{ wallpaper.get_full_search_url }}"
                contextmenu="tile-options">
            <div class="sleeve"></div>
            <img src="{{ image.url }}" width="140" height="94" />
        </a>
        <div class="tags">
            {% include "wallpapers/includes/tags_as_links.html" with tags=wallpaper.tags.all only %}
        </div>
    </div>
    {% endspaceless %}
{% endthumbnail %}

{% thumbnail stack.image "280x188" crop="center" as stack_image %}
{% with angle=wallpaper.get_random_stack_tilt %}
    <style type="text/css">
        .wallpaper.tile.stack[data-id=wallpaper_{{ wallpaper.pk }}]::before {
            content: url({{ stack_image.url }});
            transform: rotate({{ angle }}deg);
            -webkit-transform: rotate({{ angle }}deg);
            -moz-transform: rotate({{ angle }}deg);
            -o-transform: rotate({{ angle }}deg);
        }
    </style>
{% endwith %}
{% endthumbnail %}
